@import'./utilidades/reset';
@import'./secciones/header';
@import'./secciones/main';
@import'./seccionesfooter';
@import'./secciones/main-article';

/* Estrategia: mobile first*/

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*----- HEADER -----*/



/*----- MAIN -----*/




/*----- FOOTER -----*/









